<!--
 This program and the accompanying materials are made available under the terms of the
 Eclipse Public License v2.0 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-v20.html

 SPDX-License-Identifier: EPL-2.0

 Copyright IBA Group 2020
-->

<style>
  .bg-gray-custom {
    background-color: var(--bs-gray-300) !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -0.5px 0 rgb(0 0 0 / 15%);
  }
</style>
<nav class="navbar navbar-expand-lg sticky-top bg-gray-custom bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="/">IBA Open-Source</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% for navbar_elem in site.data.navbar %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ navbar_elem.link }}">{{ navbar_elem.name }}</a>
          </li>
        </ul>
      </div>
    {% endfor %}
  </div>
</nav>
